<h1>I'm the Playlist page</h1>

<a href='/playlists/create-playlist'>Create a New Playlist</a>

{{#each playlists}}
	<div class='vidScard' id="playlistsCard">
		<div class='videothumb' {{! id="ytplayer" }}>
			{{!-- <iframe src='{{this.videos[0].videoUrl}}' class='videothumb iframeVideo'></iframe> --}}
		</div>
		<a href='/playlists/{{this._id}}' class='vidSinfo'>
			<h2 class='vidSinfoH2'>{{this.title}}</h2>
			<p class='playlistsSinfoP'>{{this.description}}</p>
			<p>by {{this.playlistCreator.username}}</p>
		</a>

	</div>
{{/each}}

<form action='/auth/logout' method='GET'>
	<button type='sumbmit'>Log Out</button>
</form>