<div class="playlistsContentPage">
	<div class="formHeader">
		<h1>Check the latest playlists</h1>
		<a href='/playlists/create-playlist'>Create my own Playlist</a>
	</div>
	

	{{#each playlists}}
		<div id="playlistsCard">
			<div class='videoPlaceholder' {{! id="ytplayer" }}>
				{{!-- <iframe src='{{this.videos[0].videoUrl}}' class='videothumb iframeVideo'></iframe> --}}
			</div>
			<a href='/playlists/{{this._id}}' class='plInfoCard'>
				<h2 class='vidSinfoH2'>{{this.title}}</h2>
				<p>by {{this.playlistCreator.username}}</p>
				<p class='playlistsSinfoP'>{{this.description}}</p>
			</a>

		</div>
	{{/each}}

	<form action='/auth/logout' method='GET'>
		<button type='sumbmit'>Log Out</button>
	</form>

</div>
