<div class="plView">
	<div class="playlistDetails">
		<div class="plSideHeader">
			<p>PLAYLIST</p>
			<h2>{{playlist.title}}</h2>
			<h4>Created by {{playlistUserName}}</h4>
		</div>
			
		<div class="plSideDescription">
			{{playlist.description}}	
		</div>
	</div>

	<div class="videosPlaceholder">
		{{#if ownerInterface}}
			{{#each playlist.videos}}
				<div class="videoCard">
					<a href='/playlists/{{playlistID}}/{{_id}}'>
						<iframe src='{{videoUrl}}' class='videothumb'></iframe>
					</a>
					<a href='/playlists/{{playlistID}}/{{_id}}' class='vidSinfo vidSinfoOwner'>
						<h3>{{title}}</h3>
                        <h4>by {{videoAuthor}}</h4>
						<div class='vidSbtn'>
							<a href='/playlists/delete-video/{{playlistID}}/{{_id}}'> ❌ </a>
							<a href='/playlists/edit-video/{{playlistID}}/{{_id}}'> 📝</a>
						</div>
						
						<p>{{description}}</p>
					</a>
				</div>
	</div>			
</div>
				
					

					

			<!--		
				</div>
			{{/each}}
		{{/if}}

		{{#if userInterface}}
			{{#each playlist.videos}}
                <div id='videoCard' class='vidScard flexRow'>
					<a href='/playlists/{{playlistID}}/{{_id}}'>
						<iframe src='{{videoUrl}}' class='videothumb'></iframe>
					</a>

					<a href='/playlists/{{playlistID}}/{{_id}}' class='vidSinfo vidSinfoUser'>
						<h3>{{title}}</h3>
						<p>{{description}}</p>
						<h4>by {{videoAuthor}}</h4>
					</a>
				</div>
			{{/each}}
		{{/if}}	
	</div>		
</div> -->

<!-- 
	<div id='videoCard' class='vidScard flexRow'>
	<div class='playlistHeader1'>
		<div class='playlistInfo1'>
			
		</div>

		<div class='playlistBtn'>
			{{{playlistButtons}}}
		</div>
	</div>
	<div class='playlistContent'> 
		
		
		<h2>Videos</h2>  -->

<!-- <div class="plSideVideos">
	
</div>		
	</div>

</div> -->