<div class="plView">
	<div class="playlistDetails">
			<div class="plSideHeader">
				<p>PLAYLIST</p>
				<h1>{{playlist.title}}</h1>
				<h4>Created by {{playlistUserName}}</h4>
				<div class='playlistBtn'>
					{{{playlistButtons}}}
				</div>
			</div>
			
			<div class="plSideDescription">
				<p>{{playlist.description}}</p>
			</div>
	</div>
	
	<div class="videosPlaceholder">
		{{#if ownerInterface}}
			{{#each playlist.videos}}
				<div id="vidCard">
					<a href='/playlists/{{playlistID}}/{{_id}}'>
							<iframe src='{{videoUrl}}' class='vidThumb'></iframe>
					</a>					

					<div class="vidCardTxt">
						<div class="content">
							<div class="vidCardHeader">
								<a href='/playlists/{{playlistID}}/{{_id}}' class='vidSinfoOwner'>
									<h3>{{title}}</h3>
									<h4>by {{videoAuthor}}</h4>
									<div class="videoCardBtn">
										<a class="deleteBt" href='/playlists/delete-video/{{playlistID}}/{{_id}}'> ❌ </a>
									<a class="editBt" href='/playlists/edit-video/{{playlistID}}/{{_id}}'> 📝</a>
							</div>	
								</a>	
							</div>	
							
						</div>	
					</div>
				</div> 
					
			{{/each}}
		{{/if}}			
						
	
	</div>			
</div>
				
	